html {
	height: 100%;
}

body {
	background: linear-gradient(to bottom, rgb(212, 212, 250), rgb(0, 255, 255));
	height: 100%;
}

h1 {
	text-align: center;
}

h4 {
	text-align: center;
	height: 20%;
}

h5 {
	text-align: center;

	/* background-color: lightskyblue; */
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(70, 70, 70);
	color: white;
	text-align: center;
}