body {
	font-family: 'Josefin Slab', serif;
	background: url(https://i.pinimg.com/originals/ef/2b/d5/ef2bd574dbbc55f0479a5e187e7ae3a5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	color: #00E5E1;  
}
h3 {
	color: #CF7AFF;
}